body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.home-container::-webkit-scrollbar{
  display: none;
}

.home-container{
  width:100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 15px;
  gap: 20px;
}
select{
  color: #BDBDBD;
  width: 85px;
  font-size: 15px;
  background: transparent !important;
}
.top-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.center-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.home-container div{
  display: flex;
  justify-content: center;
  width: 100%;
}
.button-box button{
  background: #0195F7;
  color: white;
  border: 0;
  outline: none;
  width: 75%;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  gap: 10px;
}
.button-box > button > a{
  color: white;
  text-decoration: none;
  font-size: 15px;
}
.or-box{
  margin-top: -5px;
}
.or-box{
  display: flex;
  justify-content: center;
align-items: center;
gap: 20px;
color: #787878;
}
.or-box::before{
  content: "";
  width: 30%;
  height: 2px;
  background: #e7e7e7;
  display: block;

}
.or-box::after{
  content: "";
  width: 30%;
  height: 2px;
  background: #E7E7E7;
  display: block;

}
select{
  outline: none;
  border: 0;
}
img{
  width: 50%;
  height: 100%;
}
.input-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  margin-top: -5px;
}
.input-box input{
  background: #FAFAFA;
  outline: none;
  border: 1px solid #E4E4E4;
  width: 75%;
  height: 15px;
  padding: 9px 0 7px 8px;
  border-radius: 5px;
}
input::placeholder{
  color: #888888;
  font-size: 14px;
}
.input-box input:focus{
  border: 1px solid #afafaf;
}
.input-box > button {
  background: #4db6fa;
  width: 78%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  outline: none;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 0px;
}
.input-box > a{
  color: #4EA5DB;
  font-size: 14px;
  text-align: end;
  width: 78%;
  height: 30px;
  font-weight: bold;
  margin-top: 5px;
  text-decoration: none;
}
.input-box > p{
  color: red;
  width: 78%;
  text-align: start;
  height: 10px;
  margin-top: 4px;
}
.bottom{
  width: 100%;
  position: fixed;
  bottom: -10px;
}
.bottom > img{
  width: 100%;
}
.bottom-box{
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  margin-top: -0px;
}
.bottom-box > h5{
  color: #BDBDBD;
  font-size: 14px;
}
.bottom-box > a{
  color: #1692e0;
  font-weight: bolder;
  text-decoration: none;
  font-size: 14px;
}
.term{
  width: 100%;
  margin-top: -0px;
  margin-bottom: 90px;
}
.term > img{
  width: 100%;
}
.box{
  width: 100%;
  overflow: hidden;
}
.message-box{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 50px;
  gap: 30px;
  overflow: hidden;
}
.message-box > textarea{
  min-width: 90%;
  max-width: 90%;
  min-height: 40%;
  max-height: 40%;
  outline: none;
  border: 0;
  background: #f8f8f8;
  padding: 10px;
  border-radius: 8px;

}
.message-box  input{
  background: #f8f8f8;
  width: 92%;
  outline: none;
  border: 0;
  border-radius: 8px;
  height: 30px;
  padding: 5px;
}
.message-box button{
  color: white;
  width: 90%;
  outline: none;
  border: 0;
  border-radius: 10px;
  padding: 5px;
  background: #0195F7;
  height: 35px;
  font-size: 18px;
  font-weight: bolder;
}
.message-box > textarea::placeholder{
  font-size: 16px;
}
.message-box > input::placeholder{
  font-size: 16px;
}
.text{
  width: 100%;
  font-size: 20px;
font-weight: bolder;
background: #f8f8f8;;
height: 40px;
padding: 5px;
display: flex;
align-items: center;
gap: 20px;
}
.text > img{
  width: 30px;
  height: 30px;
}
.box > img{
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 10%;
}
.message-box > p{
  width: 90%;
  color: rgb(9, 129, 9);
  height: 10px;
  margin-top:-25px;
}
.success-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}
.success-box h2{
  color: rgb(8, 155, 8)
}
.success-box h3, .success-box h4{
  color: rgb(8, 155, 8);
}
.success-box h4{
  margin-top: -10px;
}